@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.display-flex{
  display: flex;
  
}

.nav-bar{
  margin: 20px 140px;
  /* border: 2px solid blue; */
  height: 62px;
  justify-content: space-between;
}


.logo img{
  margin-right: 32px;
}


.search-bar{
  align-items: center;
  gap: 32px;
}

.search-bar a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.home{
  color: rgba(254, 163, 1, 1);
}
.about{
  color: rgba(1, 172, 253, 1);
}
.facilities{
  color: rgba(5, 212, 223, 1);
}
.Admission{
  columns: rgba(93, 88, 239, 1);
}


.search-btn{
  display: flex;
  align-items: center;
  padding: 10px ;
}

.search-btn button{
  width: 197px;
  height: 50px;
  background-color: rgba(254, 163, 1, 1);
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600px;
  color: white;
}

/* head-box Style  */
.head-box{
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  height: 575px;
  margin: 10px 140px;
}

.discription{
  width: 640px;
  height: 331px;
  margin-top: 112px;
  margin-bottom: 112px;
}

.discription h1{
  font-size: 56px;
  font-weight: bold;
}

.orange{
  color: rgba(254, 163, 1, 1);
}

.sky{
  color: rgba(1, 172, 253, 1);
}

.discription p{
 font-size: 20px;
}

.enroll{
  width: 157px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 16px;
  font-size: 20px;
  font-weight: bold;
}

/* Standards Curriculum */

.Curriculum-title{
 text-align: center;
 font-size: 46px;
 font-weight: bold;
}

.Curriculum-cards{
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px 140px;
  justify-items: center;
  row-gap: 15px;
}

.card{
  display: flex;
  flex-direction: column;
  width: 367.8px;
  height: 476.78px;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  /* background-color: rgba(222, 245, 255, 1); */
}

.card img{
  width: 136px;
  height: 136px;
}

.card h2{
  font-size: 25px;
  font-weight: bold;
}

.card p{
  text-align: center;
  font-size: 15px;
}

.sk{
  background-color: rgb(205, 233, 244);
}

.orn{
  background-color: rgb(247, 239, 224);
}

.pu{
  background-color: rgb(241, 234, 249);
}

.card .sky-l{
  color: rgba(1, 172, 253, 1);
  text-decoration: none;
  font-weight: bold;
}

.card .orange-l{
 color: rgba(254, 163, 1, 1);
 text-decoration: none;
 font-weight: bold;
}

.card .pirpal-l{
  font-weight: bold;
  text-decoration: none;
}

.Curriculum{
  margin-top: 80px;
}

/* Story Section  */

.story-title{
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}
.story-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px 140px;
  margin-left: 240px;
}

.first-story{
  width: 540px;
  height: 630px;
  font-size: 24px;
}

.more-story{
  font-size: 15px;
  /* margin-right: 55px; */
  display: grid;
  row-gap: 55px;
  grid-template-columns: repeat(2, 1fr)
}

.story-btn{
  width: 250px;
  height: 50px;
  background-color:rgba(60, 216, 232, 1);
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 20px;
  font-weight: bold;
}

.story-btn2{
  width: 150px;
  height: 40px;
  background-color:rgba(149, 178, 38, 1);
  border: none;
  border-radius: 16px;
  font-size: 13px;
  font-weight: bold;
}

.view-btn{ 
  width: 250px;
  height: 50px;
  background-color:black;
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 80px;
}

.view-btn-box{
  display: flex;
  justify-content: center;
}

/* Footer Style  */
.footer-bg{
  background-color:rgba(1, 172, 253, 1) ;
}

.footer{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  margin: 0px 140px;
  margin-top:60px;
}

.footer-logo{
  display: flex;
  /* border: 2px solid blue; */
  align-items: center;
  

}

.footer-logo h1{
  color: white;
}

.footer-logo img{
  width: 82px;
  height: 82px;
  
}

.kids-para{
  width: 400px;
  height: 100px;
  color: white;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about h3{
  color: white;
  font-size: 24;
  font-weight: bold;
}

.about a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600px;
  color: white;
}

.social h3{
  font-size: 26px;
  font-weight: bold;
  color: white;
}

/* media query */
@media screen and (max-width: 576px) {
  /* Nav */
  .search-bar, .nav-title{
    display: none;
    /* visibility: hidden; */
  }
  .nav-bar{
    /* border: 2px solid blue; */
    justify-content: space-between;
    width: 358px;
    height: 46px;
    margin: 12px 19px;
  }

  .search-btn button{
    width: 100px;
    height: 32px;
    font-size: 19px;
  }

  .search-btn {
    padding: 3px;
  }

  .head-box{
    flex-direction: column-reverse;
  
  }
  .discription h1{
    font-size: 32px;
    font-weight: bold;
  }


  .head-box{
    /* border: 2px solid blue; */
    height: 725px;
    margin: 8px 16px;
  }

  .discription p{
    font-size: 14px;
   }

   .discription{
    width: 357px;
    height: 252px;
    margin: 20px 16px;
  }

  .enroll{
    width: 125px;
    height: 42px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  

  .img-box{
    width: 336px;
    height: 413px;
    margin: 10px 20px ;
  }

  .img-box img{
    width: 310px;
    height: 400px;
  }

  .Curriculum-title{
    font-size: 26px;
  }
  .Curriculum-cards{
    /* border: 2px solid blue; */
    grid-template-columns: repeat(1, 1fr);
    margin: 10px 10px;
    justify-items: center;
    row-gap: 15px;
  }

  .card{
    width: 357px;
    height: 321px;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }

  /* Stoey Section  */
  .story-title{
    text-align: center;
    font-size: 26px;
    font-weight: bold;}

    .story-box{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 2px 16px;
      /* margin-left: 240px; */
    }


    .first-story{
      display: none;
    }

    .first-story img{
      width: 350px;
    }

    .more-story{
      font-size: 9px;
      /* margin-right: 55px; */
      display: grid;
      row-gap: 10px;
      grid-template-columns: repeat(2, 1fr)
    }


    .more-story img{
      width: 173px;
      height: 105px;
    }

    .more-story h2{
      font-size: 9px;
    }

    .story-btn2{
      width: 100px;
      height: 20px;
      background-color:rgba(149, 178, 38, 1);
      border: none;
      border-radius: 8px;
      font-size: 9px;
      font-weight: bold;
    }

    .view-btn{
      width: 134px;
      height: 40px;
      background-color:black;
      color: white;
      border: none;
      border-radius: 16px;
      font-size: 16px;
      font-weight: bold;
      margin-top: 80px;
    }

    .footer{

      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: left;
    
      padding: 10px 5px 20px 15px;
      margin: 0px 00px;
      margin-top: 60px;
    }

    .footer-logo h1{
      color: white;
      font-size: 30px;
    }
    
    .footer-logo img{
      width: 69px;
      height: 69px;
      
    }
    
    ..footer-logo h1{
      color: white;
    }
    
    .footer-logo img{
      width: 82px;
      height: 82px;
      
    }
    
    .kids-para{
      width: 357px;
      height: 80px;
      color: white;
    }

    .kids-para p{
      font-size: 16px;
      margin-right: 10px;
    }

}